{% extends 'base.html' %}

{% block title %}Create your poem!{% endblock %}

{% block content %}
<div class="container-fluid">
    <br>
    <div class="col col-sm-5">
      <div class="col col-sm-5">
        <p>
          <div class="p-3 mb-2 bg-dark text-white" style="border-radius: 10px; width: 800px;">  
            <form method="POST" id="form2" action="{{url_for('poem.create_poem')}}">
              <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label" style="color:white;">Title:</label>
                <input name="title" type="text" class="form-control form-control-lg" id="formGroupExampleInput" placeholder="Write here" style="width: 300px;">
              </div>
              <div class="row">
                <div class="mb-3">
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1" style="color: white;">Body: <p> </p></label>
                    <textarea name="body" class="form-control" id="exampleFormControlTextarea1" rows="15" placeholder="Write here" style="width: 99%;"></textarea>
                  </div>
                </div>
              </div>
            </form>   
          </div>
        </p>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="d-grid gap-2 d-md-block">
            &nbsp;
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Back to Home
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">You are quitting creation mode.</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Do you want to discard the changes?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">I want to finish it first</button>
                    <a class="btn btn-primary" href="/home" role="button">Discard changes</a>
                  </div>
                </div>
              </div>
            </div>
            &nbsp;
            <button id="btnSubmit" class="btn btn-success" type="submit">Upload Poem</button>
            <br></br>
            {% if request.method == 'POST' %}
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <ul class=flashes>
                    {% for message in messages %}
                      <li>{{ message }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
