{% extends 'base.html' %}

{% block title %}Home{% endblock %}

		{% block content %}
		<!--Contenedor -->
		<div class="container-fluid">
		   <br>

		   <!--Fila -->
			<div class="row section-10">
				<div class="card-body d-flex justify-content-center">
					{% for poem in poems %}
						<div class="card text-bg-dark mb-3" style="width: 18rem;">
							<img class="poem-img" src="/static/img/logo2.png">
							<div class="card-body">
							<h5 class="card-title">{{poem.title}}</h5>
							<p class="card-text">Author: {{poem.user.username}}</p>
							<p class="card-text">Rating: {{poem.rating}}</p>
							<a href="{{url_for('poem.read_poem_user', id=poem.id)}}" class="btn btn-success">Read</a>
							</div>
						</div>
					{% endfor %}	
				</div><!--Fin de la fila -->
			</div><!--Fin de la fila -->
				<!-- PAGINACION -->
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
					<li class="page-item">
						<a class="page-link" href="{{ url_for('app.main_menu_user', page=page-1) }}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span> Previous
						</a>
					</li>
					<li class="page-item"><a class="page-link" href="#">1</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item">
						<a class="page-link" href="{{ url_for('app.main_menu_user', page=page+1) }}" aria-label="Next">
							Next <span aria-hidden="true">&raquo;</span>
						</a>
					</li>
					</ul>
				</nav>



			</div><!--Fin del contenedor -->  
		{% endblock %}