{% extends 'base.html' %}

		{% block title %}Welcome to The Poet's Inn!{% endblock %}

		{% block content %}
		<!--Contenedor -->
		<div class="container-fluid">
		   <br>

		   <!--Fila -->
			<div class="row section-10">
				<div class="col -sm-10">				
					<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
						<div class="container-fluid">
						  <a class="navbar-brand" href="#" style="color: #ffe600;">List of Poems</a>
						  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						  </button>
						  <div class="collapse navbar-collapse" id="navbarSupportedContent">
							<!-- {% if filter_option is not none and filter_option %}
								<form class="d-flex" role="search" method="POST" action="{{ url_for('main_menu_filter') }}">
									<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="filter_value">
									<button class="btn btn-success" type="submit">Search</button>
								</form>
							{% endif %} -->
							<div id="filterForm" style="display: none;">
								<form method="post" class="d-flex" role="search">
									<label for="filter_value">Filter Value:</label>
									<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" type="text" name="filter_value" id="filter_value">
									<input class="btn btn-success" type="submit" value="Search">
								</form>
							</div>							
							&nbsp;
							<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								<!-- Agrega el menú desplegable de filtros -->
								<!-- <li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #ffe600;">
									Filters
									</a>
									<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									{% for filter_option in filter_options %}
									<li><a class="dropdown-item" href="{{ url_for('app.main_menu', filter=filter_option) }}">{{ filter_option }}</a></li>
									{% if not loop.last %}
									<li><hr class="dropdown-divider"></li>
									{% endif %}
									{% endfor %}
									</ul>
								</li> -->
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #ffe600;">
										Filters
									</a>
									<ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="filterMenu">
										<!-- <select class="form-select" name="filter_option" aria-label="Default select example"> -->
										{% for filter_opt in filter_options %}
											<li><a class="dropdown-item" href="{{ url_for('app.main_menu', filter_option=filter_opt) }}" name="filter_option" value="{{ filter_option }}">{{ filter_opt}}</a></li>
											{% if not loop.last %}
												<li><hr class="dropdown-divider"></li>
											{% endif %}
										{% endfor %}
										<!-- </select> -->
									</ul>
								</li>								
								<li class="nav-item dropdown">
								  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #ffe600;">
									Sort by
								  </a>
								  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
										<li><a class="dropdown-item" href="#">Datetime [Asc]</a></li>
										<li><hr class="dropdown-divider"></li>
										<li><a class="dropdown-item" href="#">Datetime [Desc]</a></li>
										<li><hr class="dropdown-divider"></li>
										<li><a class="dropdown-item" href="#">Rating [Asc]</a></li>
										<li><hr class="dropdown-divider"></li>
										<li><a class="dropdown-item" href="#">Rating [Desc]</a></li>
										<li><hr class="dropdown-divider"></li>
										<li><a class="dropdown-item" href="#">Author name [Asc]</a></li>
										<li><hr class="dropdown-divider"></li>
										<li><a class="dropdown-item" href="#">Author name [Desc]</a></li>
								  </ul>
								</li>
							</ul>
						  </div>
						</div>
				  	</nav>
				</div>
		   	</div><!--Fin de la fila -->
		   <div class="row section-4">
			<div class="col -sm-10">
		   		<table class="table table-dark table-striped">
					<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Poem's Name</th>
						<th scope="col">Author</th>
						<th scope="col">Rating</th>
						<th scope="col"></th>
					</tr>
					</thead>
					<tbody>
						{% for poem in poems %}
						<tr>
							<td>{{poem.id}}</td>
							<td>{{poem.title}}</td>
							<td>{{poem.user.username}}</td>
							<td>{{poem.rating}}</td>
							<td><a class="btn btn-success" href="{{url_for('poem.read_poem', id=poem.id)}}" role="button">Read</a>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			</div><!--Fin de la fila -->
			<!-- PAGINACION -->
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
				{% if page > 1 %}
				<li class="page-item">
					<a class="page-link" href="{{ url_for('app.main_menu', page=page-1) }}" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span> Previous
					</a>
				</li>
				{% endif %}
				{% for p in range(1, total_pages + 1) %}
					<li class="page-item {% if p == page %}active{% endif %}">
						<a class="page-link" href="{{ url_for('app.main_menu', page=p) }}">{{ p }}</a>
					</li>
				{% endfor %}
				{% if page < total_pages %}
					<li class="page-item">
						<a class="page-link" href="{{ url_for('app.main_menu', page=page+1) }}" aria-label="Next">
							Next <span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				{% endif %}
				</ul>
			</nav>
		</div><!-- Fin del contenedor -->
		{% endblock %}
		<!-- Agrego scripts -->
		{% block scripts %}
		<script>
			$(document).ready(function() {
				$('#filterMenu').on('click', 'a', function(e) {
					// Evita que la página se recargue al hacer clic en un enlace del menú desplegable
					e.preventDefault();
			
					// Muestra el formulario solo si se hace clic en una opción de filtro
					if ($(this).attr('href').indexOf('filter_option=') !== -1) {
						$('#filterForm').show();
					} else {
						$('#filterForm').hide();
					}
				});
			});
			</script>			
		{% endblock %}