{% extends 'base.html' %}

		{% block title %}Read Poem{% endblock %}

		{% block content %}
        <div class="container-fluid">
              <div class="row">
                <br>
                <div class="col-sm-6">
                  <br>
                  <div class="card text-bg-dark mb-3" style="width: 100%; height: 500px;">
                    <div class="card-header">{{poem.user.username}}</div>
                    <div class="card-body">
                      <h5 class="card-title">{{poem.title}}</h5>
                      <p class="card-text">{{poem.body}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                    <div class="d-grid gap-2 d-md-block">
                      <a class="btn btn-primary" href="/" role="button">Back to Home</a>
                      &nbsp;
                      <button type="button" class="btn btn-dark"
                        data-bs-toggle="popover" data-bs-placement="bottom"
                        data-bs-custom-class="custom-popover"
                        title="Poem's Details"
                        data-bs-html="true"
                        data-bs-content="- AUTHOR: User 1 <br/>- DATETIME: 17-05-2022
                        ">
                        Details +
                      </button>
                        &nbsp;
                      <br>
                    </div>
                  </div>                
                  <div class="col-sm-6">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-dark"
                      data-bs-toggle="tooltip" data-bs-placement="top"
                      data-bs-custom-class="custom-tooltip"
                      title="Score: 4.9 of 5 stars.">
                      Avg Score 4.9
                    </button>
                  </div>
                  </div>
              
              </div>
                </div><!--Fin de la columna -->
                <div class="col-sm-1">
                  <br>
                </div>
                {% if ratings %}
                <div class="col-sm-4">
                  <br>
                  <p><div class="p-3 mb-2 bg-dark text-white" style="border-radius: 10px; width: 600px;"><h5>Ratings: </h5></div></p>
                  {% for rating in ratings %}
                  <div class="card text-bg-dark mb-3" style="width: 600px; height: 300px;">
                    <div class="card-header">{{rating.user.username}}</div>
                    <div class="card-body">
                      <h5 class="card-title">
                        <div class="btn-group" role="group" aria-label="Basic example">
                          <button type="button" class="btn btn-primary"
                          data-bs-toggle="tooltip" data-bs-placement="top"
                          data-bs-custom-class="custom-tooltip"
                          title="Score:">
                          Score:
                        </button>
                        <button type="button" class="btn btn-primary"
                          data-bs-toggle="tooltip" data-bs-placement="top"
                          data-bs-custom-class="custom-tooltip"
                          title="5 of 5 stars.">
                          {{rating.score}}
                        </button>
                      </div></h5>
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Commentary: </label>
                        <p> </p>
                        <p class="card-text">{{rating.commentary}}</p>
                      </div>
                      <br>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                {% endif %}
            </div>
            </div>
    {% endblock %}

              